server:
  port: 8080 # Port default untuk semua layanan (akan di-override oleh layanan spesifik)

spring:
  config:
    import: "optional:configtree:/etc/config/" # Untuk Kubernetes / ConfigMap
  zipkin:
    base-url: http://zipkin-server:9411 # URL Zipkin di Docker Compose
  sleuth:
    sampler:
      probability: 1.0 # Sampling rate untuk tracing (1.0 = semua trace)
  jpa:
    hibernate:
      ddl-auto: update # Untuk pengembangan, JANGAN gunakan di produksi
  data:
    mongodb:
      host: mongodb-db
      port: 27017
      database: financialdb # Default untuk MongoDB
  kafka:
    bootstrap-servers: kafka:29092 # Kafka di Docker Compose
    properties:
      schema.registry.url: http://schema-registry:8081 # Jika menggunakan Schema Registry (nanti)
