server:
  port: 8080

spring:
  config:
    import: "optional:configtree:/etc/config/"
  zipkin:
    base-url: http://zipkin-server:9411
  sleuth:
    sampler:
      probability: 1.0
  jpa:
    hibernate:
      ddl-auto: update
  data:
    mongodb:
      host: mongodb-db
      port: 27017
      database: financialdb
  kafka:
    bootstrap-servers: kafka:29092
    properties:
      schema.registry.url: http://schema-registry:8081
